body {
  align-items: center;
  background-color: #6d6c6e;
  display: flex;
  justify-content: center;
}

.loginContainer {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 20px 10px rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  height: 530px;
  justify-content: center;
  margin-top: 200px;
  width: 500px;
}

.loginContainer input {
  text-align: center;
}

.loginContainer img {
  align-items: center;
  display: flex;
  margin-left: 50px;
  width: 300px;
}

.btnLogin {
  background-color: rgb(214, 203, 203);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 900;
  height: 40px;
  margin-top: 15px;
  width: 400px;
}
