.container {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.musicCard {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}

.artist {
  align-items: center;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  font-size: 0.7rem;
  height: 100%;
  justify-content: center;
  margin: 20px;
  min-width: 60%;
  padding: 10px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.artist img {
  border-radius: 50%;
  margin-top: 5px;
}
