@import url('https://fonts.cdnfonts.com/css/packard-clipper-nf');

header {
  align-items: center;
  background-color: var(--bg-header);
  box-shadow: var(--box-shadow);
  color: var(--purple);
  display: flex;
  flex-direction: row;
  font-family: Packard Clipper NF , sans-serif;
  font-size: x-large;
  height: 100px;
  justify-content: space-around;
  text-decoration: none;
  text-shadow: var(--text-shadow-100);
  width: 100vw;
}

header p {
  color: var(--pink);
  margin-left: 15px;
}

.navlinkStyle {
  color: var(--purple);
  margin-left: 30px;
  text-decoration: none;
}
