.musicCard {
  align-items: center;
  background-color: rgb(37, 35, 35);
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.audio {
  align-items: center;
  color: rgb(166, 85, 255);
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  font-size: 0.7rem;
  justify-content: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.audio h3 {
  font-size: 1rem;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.musicCard img {
  height: 30px;
  margin: 30px 0 0 10px;
  width: 30px;
}
