@import url('https://fonts.cdnfonts.com/css/onuava');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Onuava', sans-serif;
  color: black
}

body a {
  text-decoration: none;
  color: rgb(166, 85, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: none;
}

.heart-checkbox input[type="checkbox"] {
  display: none;
}

.heart-checkbox {
  cursor: pointer;
}